body{
    margin: 0;
    background-color: #EEEEEE;
    padding: 0;
    overflow-y: auto;
    height: 100%;
}
#container{
    display: inline-grid;
    width: 100vw;
    height: 100vh; 
    grid-template-rows: 200px auto;
    grid-template-columns: 300px auto;
}

/* sidebar */

#sidebar{
    grid-area: 1/1/3/1;
    background-color: #1E88E5;
    padding: 30px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

#sidebar #sidebar-head{
    display: flex;
}

#sidebar-head h2{
    display: inline;
    color: white;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    top: -10px;
    position: relative;
}

#sidebar-top{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
}

#sidebar-top h3, #sidebar-bottom h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#sidebar-bottom{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
}

.icons{
    position: relative;
    align-self: center;
    color: white;
}

/* header */

#header{
    grid-area: 1/2/1/3;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 600px auto;
    background-color: white;
    padding: 40px 80px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

#search-bar{
    height: 30px;
    width: 500px;
    border-style: none;
    background-color: #E5E4E4;
    border-radius: 15px;
    position: absolute;
    margin-left: 10px;
    grid-area: 1/1/2/1;
}

#search-area{
    height: 30px;
}

#greeting{
    grid-area: 2/1/2/2;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

#greeting h3, #greeting h1{
    font-family: sans-serif;
    margin: 5px;
}

#greeting h1{
    font-size: 30px;
}

#cat-img1{
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

#cat-img2, .users img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

#profile-info h1{
    font-family: sans-serif;
    font-size: 30px;
    display: inline;
    align-self: center;
}

#profile-info{
    display: flex;
    gap: 30px;
    justify-self: end;
}

#bell{
    align-self: center;
}

#buttons{
    align-self: flex-end;
    justify-self: end;
    display: flex;
    gap: 50px;
}

#buttons span{
    padding: 10px 30px;
    border-radius: 50px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    background-color: #1E88E5;
}

/* main content */

#main-content{
    grid-area: 2/2/3/3;
    background-color: #E5E4E4;
    font-family: sans-serif;
    font-size: 12px;
    padding-left: 30px;
    padding-top: 30px;
}

 #main-content h1{
    display: inline;
    text-align: left;
} 

#main-content-headers{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 20px;
}

#main-grid-container{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 20px;
}

#projects{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 250px 250px 250px;
    gap: 50px;
    width: 1050px;
    margin-bottom: 20px;
}

.project{
    border-left-color: #D28D20;
    border-left-style:solid ;
    border-left-width: 7px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.project p{
    font-size: 18px;
    color: gray;
    margin: 0;
}

.project-buttons{
    display: flex;
    align-self: flex-end;
    gap: 20px;
}

.project-buttons i{
    color: #2C2C2C;
}

#right-side{
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

.main-right-side-boxes{
    width: 250px;
    background-color: white;
    padding: 40px 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    margin-right: 10px;
}

.main-right-side-boxes p{
    color: gray;
    font-size: 15px;
}

.main-right-side-boxes h3{
    font-size: 20px;
    margin: 0;
}

.users{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    margin-bottom: 20px;
}

.users span h6{
    margin: 0;
    font-size: 15px;
}

.users span p{
    color: gray;
    margin: 0;
}

#trending{
    margin-top: 30px
}