body{
    margin: 0;
    background-color: #EEEEEE;
}
#container{
    display: inline-grid;
    grid-template: 300px 300px/ 300px 300px 300px;
}

#sidebar{
    grid-area: 1/1/5/1;
    background-color: #1E88E5;
}